
VITE_API_USERNAME=goledger
VITE_API_PASSWORD=5NxVCAjC

# TMDB API for poster fetching
VITE_TMDB_API_KEY=f1605985c73c820618c4678fdd83175e
VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMTYwNTk4NWM3M2M4MjA2MThjNDY3OGZkZDgzMTc1ZSIsIm5iZiI6MTc3NDk4MTcyMi45NDIwMDAyLCJzdWIiOiI2OWNjMTI1YTg5NDg4NDNlNmJiODMzNmYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.WNeFuNZ08Ye9XH7UEiFBfEOhoYhA1VQk5T5_M98gxVw
